


body {
  margin: 0;
  padding: 0;
  font-family: Oswald, sans-serif !important;
}

.hero-section{
  display: flex;
    flex-direction: column;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: end;
}
.main-width{
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;;
}
.banner-container{
    max-width: 45%;
    text-align: right;
    margin: 0 auto;
    margin-right: 0;
    padding-bottom: 100px;
}
.hero-section h1{
    color: #fff;
    font-size: 70px;
    margin-bottom: 0;
}
.hero-section h4{
    color: #fff;
    font-size: 20px;
    margin-top: 0;
}
.about{
   display: flex;
   padding: 50px;
}
.about-img img{
 width: 570px;
 height: 390px;
}
.about-text{
    width: 600px;
    height:388px;
    margin-left: 20px;
}
.about-text h2{
    font-size: 48px;
    margin: 0 auto;
    margin-top: 30px;
}
.about-text h4{
    font-size: 24px;
    margin: 0px;
    margin-top: 15px;
}
.about-text p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    margin-top: 15px;
    line-height: 1.6rem;    
}
.about-text button{
    background-color: rgb(82, 89, 105);
    color: #fff;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    padding: 15px 35px;
    border-radius: 0;
}

.about-text button:hover{
    background-color: rgb(74, 78, 86);
}


.other-countries{
    display: flex;
}

.other-lang{
    padding: 30px;
}