


body {
  margin: 0;
  padding: 0;
  font-family: Oswald, sans-serif !important;
}

.hero-section{
  display: flex;
    flex-direction: column;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: end;
}
.main-width{
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;;
}
.banner-container{
    max-width: 45%;
    text-align: right;
    margin: 0 auto;
    margin-right: 0;
    padding-bottom: 100px;
}
.hero-section h1{
    color: #fff;
    font-size: 70px;
    margin-bottom: 0;
}
.hero-section h4{
    color: #fff;
    font-size: 20px;
    margin-top: 0;
}

@media only screen and (min-width: 320px) {
  .hero-section {
    background-position: center;
  
  }
  .banner-container{
    margin: 0 50px;
  }
}



.about{
   display: flex;
   margin-top: 50px;
   margin-bottom: 50px;
   
}
.about-img img{
 width: 570px;
 height: 390px;
}
.about-text{
    width: 600px;
    height:388px;
    margin-left: 20px;
}
.about-text h2{
    font-size: 48px;
    margin: 0 auto;
    margin-top: 30px;
}
.about-text h4{
    font-size: 24px;
    margin: 0px;
    margin-top: 15px;
}
.about-text p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    margin-top: 15px;
    line-height: 1.6rem;    
}
.about-text button{
    background-color: rgb(82, 89, 105);
    color: #fff;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    padding: 15px 35px;
    border-radius: 0;
}

.about-text button:hover{
    background-color: rgb(74, 78, 86);
}


.other-countries{
    display: flex;
    justify-content: center;
   margin-bottom: 150px;
}

.other-lang{
   margin: 30px;
    width: 34%;
}
.other-lang h2{
    font-size: 38px;
    margin: 0;
    margin-bottom: 25px;
}
.other-lang p{
    font-size: 16px;
    line-height: 1.6rem;
    font-family: Open, sans-serif;
    font-weight: normal;
    color: #111111;
    margin: 0px;
}
.flag{
    margin: 34px;
    
}

.flag h4{
    font-size: 30px;
    margin: 10px 0px 7px 0;
}
.flag a{
   
    color: #111111;
}



.our-languages{
   display: flex;
   gap:20px;
 
}
.language-sec-img img{
 width: 570px;
 height: 390px;
}
.our-lang-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px; 
}
.our-lang-text h2{
    font-size: 48px;
   margin-bottom: 0px;
    
}
.our-lang-text h4{
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    margin-top: 15px;
}
.our-lang-text p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    margin-top: 15px;
    line-height: 1.6rem;    
}




.course-section {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 40px;
  background-color: #fff;
  flex-wrap: wrap;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
}
.column img {
  width: 110px;
  height: 100px;
  margin-top: 40px;
}
.column h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  text-align: center;
}
.column h4 {
  font-size: 14px;
  text-transform: uppercase;
  color: #313030;
  margin-bottom: 10px;
  text-align: center;
}
.column p {
  font-size: 15px;
  color: #353131;
  line-height: 1.4;
  text-align: center;
  padding: 0 10px;
}

.you-tube iframe{
width:100%;
height:400px;
}



.subscribe-section {
  background-color: #3C4052;
  padding: 60px 20px;
  text-align: center;
  color: white;
}

.subscribe-content h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.subscribe-content p {
  font-size: 1.1rem;
  max-width: 700px;
  margin: 0 auto 30px;
}

.subscribe-content button {
  background-color: white;
  color: #3C4052;
  border: none;
  padding: 10px 30px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.subscribe-content button:hover {
  background-color: #dddddd;
}

.luxary-interior {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  gap: 100px;
  text-align: left;
}

.img-under-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-size: cover;
  font-family: 'raleway' ,sans-serif;
  font-size: 30px;
}

.chair-img {
    border-radius: 50%;
    margin-top: 20px;
    width: 198px;
    height: 198px;
    object-position: center;
    background-position: 50% 50%;
    margin: 7px auto 35px
}

.text-side {
  max-width: 500px;
  font-size: 16px;
  line-height: 1.6rem;
  font-weight: normal;
  font-family: open,sans-serif;

}
.text-side span{
    font-size: 20px;
    color: #111111;
    font-weight: bold;
    font-family: Raleway,sans-serif;
}

.only-image {
  height: 300px;
  background-size: cover;
  background-position: center;
}

.detail {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 60px 10%;
  background-color: #fff;
  flex-wrap: wrap;
  gap: 40px;
}

.detail-left {
  flex: 1;
  min-width: 150px;
}
.detail-right {
  flex: 1;
  width: 150px;
}

.detail-left h3,
.detail-right h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

.detail-left p,
.detail-right p {
  font-size: 14px;
  line-height: 1.6;
}

.detail-left a {
  color: #2f59bc;
  text-decoration: none;
}

.social-icons a {
  margin-right: 10px;
  color: #333;
  font-size: 30px;
}


.footer {
  background-color: #2f2f2f; 
  text-align: center;
  padding: 20px 0;
}

.footer p {
  margin: 0;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.footer a {
  color: #8ff1f1; 
  text-decoration: underline;
}

.footer a:hover {
  color: #bffeff; 
}


